 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  --background: #2d3250;
  --background-light: #424769;
  --background-lightest: #676f9d;

  --color: #f3f3f3;
  --color-dark: #b5b5b3;
  --accent: #f9b17a;

}
a, .link {
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: underline;
}
a:hover, .link:hover {
  cursor:pointer;
  color: var(--accent);
}

 body {
  background-color: var(--background);
  color: var(--color);
}

body{
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

nav, .navbar{
  background-color: transparent;
  max-height: 30svh;
  height: 3svh;
  /* border-bottom: 1px solid var(--background-light); */
}
.dropdown{ 
  max-height: 30svh;
  height: auto;
} 
.drop-toggle:focus{
  outline: none;
  border: none;
}
.drop-toggle i{
  font-size: 1.2rem;
}
.drop-toggle::after{
  display: none;
}
.dropdown-menu{
 background-color: var(--background-light);
 color: var(--color);
 transition: all 1s ease;
}
.drop-item{
  color: var(--color);
  transition: all 0.5s ease;
}
.drop-item:hover{
  background-color: var(--background-lightest);
}
/* Hide the line for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .blob{
    width: 97svw;
  }
  aside {
    border: none;
  }
}

/* Show the line for screens larger than or equal to 768px */
@media screen and (min-width: 768px) {
  .blob{
    width: 100svw;
  }
  aside {
    border-right: 1px solid var(--background-light);
  }
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  padding: 7.5px;
  overflow: hidden;
}
h2{
  overflow: hidden;
}
h5, h5 span {
  overflow: hidden;
}
.btn-close{
  background-color: transparent;
  color: var(--color);
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}
.btn-close:hover{
  background-color: transparent;
}
.button-secondary {
  background-color: var(--background-light);
  color: var(--color);
}
button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--background);
  background-color: var(--accent);
  cursor: pointer;
  transition: all 0.5s;
}
button i{
  color: var(--color);
}
button:hover {
  background-color: var(--background-lightest);
}
button:focus,
button:focus-visible {
  outline: 3px solid var(--background-light);
}
input[type="text"]{
  border: none;
  text-align: center;
  color: var(--color);
  background-color: transparent;
  border-bottom: 1px solid var(--color);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}
input[type="text"]:focus{
  border-color: var(--accent);
  outline: none;
}
.currencyInput{
  text-align: center;
  background-color: var(--background-lightest);
  color: var(--color);
  letter-spacing: 0.1em;
  border-radius: 0.75em;
  border: none;
  outline: none;
  width: auto;
}
#currencyName{
  max-width: 30%;
}
#currencyFormat{
  max-width: 30%;
}
#currencyTag{
  max-width: 15%;
}
.currencyInput::placeholder{
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--background);
}
.draggable{
  border-radius: 0.5em;
  cursor: pointer;
  background-color: var(--background-light);
}


::placeholder {
  text-align: center; 
  letter-spacing: 0.2em;
  font-weight: bold;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { 
  text-align: center;  
}

::-moz-placeholder {
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
.box-ui{
  border-radius: 1.5em;
  background-color: var(--background-light);
  color: var(--color);
  padding: 1em;
  margin: 1em;
}
.box-ui *{
  background-color: var(--background-light);
  color: var(--color);
}

.info p{
  font-size: 0.95em;
  color: var(--color-dark);
}
.info p span{
  color: var(--accent);
  font-weight: 700;
}
.info .link{
  color: var(--color);
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s;
}
.info .link:hover{
  color: var(--accent);
  text-decoration: underline;
}

.login{
  border-radius: 1.5em;
}
.login, .login p, .login h1{
  background-color: var(--background-light);
}
.pointer{
  cursor: pointer;
}
.month{
  background-color: var(--background);
  color: var(--accent);
  font-weight: 700;
  outline: none;
  border: none;
}
.income{
  color: var(--accent);
  font-weight: 700;
}
.name{
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 0.4em;
}
.currency p, {
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 0.4em;
  cursor: pointer;
}
.currency button{
  font-size: 1.1rem;
}
.currencyProfile span{
  color: var(--accent);
  font-weight: 700;
  cursor: pointer;
}
.currencyProfile span:hover{
  text-decoration: underline;
}

#ProfilePIC{
  border-radius: 50%;
  width: 5em;
  height: 5em;
  margin: 0 auto;
  display: block;
}
.modal{
  background-color: transparent;
}
.modal-lg{
  background-color: transparent;
}
.modal-lg .body{
  border: none;
  border-radius: 1.5em;
  background-color: var(--background-light);
}
.modal-body{
  background-color: var(--background);
}
.error{
  color: var(--accent);
  font-weight: 700;
  font-size: 1.1em;
}

footer, .footer, .modal-header{
  background-color: var(--background-light);
  border-radius: 0;
}
.footer a, .header div{
  background-color: var(--background-light);
}
.footer button .header button{
  color: var(--background);
  background-color: var(--accent);
}
footer h5 span, footer h5{ 
  background-color: var(--background-light);
} 





.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--color) var(--background-light);
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}