:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  --background: #2d3250;
  --background-light: #424769;
  --background-lightest: #676f9d;

  --color: #f3f3f3;
  --accent: #f9b17a;
}

a, .link {
  font-weight: 500;
  text-decoration: underline;
}
a:hover, .link:hover {
  cursor:pointer;
  color: var(--accent);
}

*, body {
  background-color: var(--background);
  color: var(--color);
  overflow-x: hidden;
}
body{
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  padding: 7.5px;
  overflow: hidden;
}
h2{
  overflow: hidden;
}
h5, h5 span {
  overflow: hidden;
}

.button-secondary {
  background-color: var(--background-light);
  color: var(--color);
}
button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--background);
  background-color: var(--accent);
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  background-color: var(--background-lightest);
}
button:focus,
button:focus-visible {
  outline: 3px solid var(--background-light);
}
input[type="text"]{
  border: none;
  border-bottom: 1px solid var(--color);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}
input[type="text"]:focus{
  border-color: var(--accent);
  outline: none;
}
::placeholder {
  text-align: center; 
  letter-spacing: 0.2em;
  font-weight: bold;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { 
  text-align: center;  
}

::-moz-placeholder {
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

.login{
  border-radius: 1.5em;
}
.login, .login p, .login h1{
  background-color: var(--background-light);
}
.month{
  color: var(--accent);
  font-weight: 700;
  outline: none;
  border: none;
}
.income{
  color: var(--accent);
  font-weight: 700;
}
.user{
  cursor: pointer;
}
.currency, .name{
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 0.4em;
}

#ProfilePIC{
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: 0 auto;
  display: block;
}

.modal{
  background-color: transparent;
}
.error{
  color: var(--accent);
  font-weight: 700;
  font-size: 1.1em;
}

footer, .footer, .header{
  background-color: var(--background-light);
  border-top: 1px solid #fff;
}
.footer a, .header *{
  background-color: var(--background-light);
}
.footer button .header button{
  color: var(--background);
  background-color: var(--accent);
}
footer h5 span, footer h5{ 
  background-color: var(--background-light);
}