:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: underline;
}
a:hover {
  cursor:pointer;
  color: #535bf2;
}

*, body {
  background-color: #232323;
  color: #f3f3f3;
}
body{
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input[type="text"]{
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}
input[type="text"]:focus{
  border-color: #646cff;
  outline: none;
}
::placeholder {
  text-align: center; 
  letter-spacing: 0.2em;
  font-weight: bold;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { 
  text-align: center;  
}

::-moz-placeholder {
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
.month{
  color: #d7942d;
  font-weight: 600;
}
.user{
  cursor: pointer;
}
.name{
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 0.4em;
}
#ProfilePIC{
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: 0 auto;
  display: block;
}
.income{
  color: #d7942d;
  font-weight: 600;
}
footer{
  background-color: #232323;
  border-top: 1px solid #fff;
}
