@use "../utils/colors";

.button-secondary {
    background-color: colors.$background-light;
    color: colors.$color;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    p{
      font-size: 1.3em;
    }
}
.button-round{
  background-color: rgba( 51, 55, 59, 0.35 );
	box-shadow: 0 8px 32px 0 rgba(115, 116, 131, 0.37);
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 50%;
  // border: 1px solid colors.$accent-orange;
  padding: 0.6em;
  width: 2.5em;
  transition: all 0.5s;
  i {
    color: colors.$color;
    font-size: 1.1rem; 
  }
}
button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: colors.$background;
  background-color: colors.$accent-orange;
  cursor: pointer;
  transition: all 0.5s;
  i{
    font-size: 0.9em;
    transition: all 0.5s;
    color: colors.$background;
  }
}
button:hover {
  background-color: colors.$background-light;
  color: colors.$color;
  * {
    color: colors.$color;
  }
}
.button-secondary:hover {
  background-color: colors.$background-lightest;
  color: colors.$color;
  outline: 3px solid colors.$accent-orange;
}
.button-round:hover{
  background-color: colors.$background-light;
  border: 1.5px solid colors.$accent-orange;
}
button:focus,
button:focus-visible {
  outline: 3px solid colors.$background-light;
}
.button-secondary:focus,
.button-secondary:focus-visible {
  outline: 3px solid colors.$accent-orange;
  background-color: colors.$background-lightest;
}
