// $background: #2d3250;
// $background-light: #424769;
// $background-lightest: #676f9d;

// $color: #f3f3f3;
// $color-dark: #b5b5b3;
// $color-darker: #7f7f7f;
// $accent: #f9b17a;

$background: #212529;
$background-light: #33373b;
$background-lightest: #5c5c5c;


$color: #e0e4e8;
$color-dark: #adb5bd;
$color-darker: #868e96;
// $accent-orange: #f9b17a;
// $accent-orange: #C87AFA;
$accent-orange: #daa4fc;

// $accent-orange: white;
// $accent-pink:#C87AFA; bg
//https://www.magicpattern.design/tools/mesh-gradients