@use "./utils/colors";
@use "./utils/typography";
@use "./utils/button";
@use "./utils/input";
@use "./components/home";
@use "./components/settings";
@use "./components/initialsetup";
@use "./components/app";

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    // background-color: colors.$background;
    // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-family: "Questrial", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  


::-webkit-scrollbar {
    width: 10px; 
    height: 5px;
    display: none;
}

body {
    background-color: colors.$background;
    color: colors.$color;
}

body{
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
}
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
.custom-tooltip{
    background-color: colors.$background;
    color: colors.$color;
    border: 1px solid colors.$accent-orange;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9em;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    opacity: 1;
    animation: fadeOut 7.5s ease-out;
} 
.tooltip-inner {
    background-color: transparent;
}